#content {
	width:100%;
	height:auto; 
	display:block;
	position:absolute;
}
#content .inner {
	max-width:900px;
	margin:0 auto;

}
#content .inner h2, #content .inner h3 {
	font-size: 24px;
	font-family: sans-serif;
	color: #333;
	float: left;
	font-weight: normal;
	padding:2.5px 45px;
	clear:left;
	margin:0;
	margin-bottom:10px;
}

#content .inner h3 {
	font-size: 22px;
	margin-top:25px;
}
#content .inner p, #content .inner ol {
	font-size: 16px;
	font-family: sans-serif;
	color: #808080;
	float: left;
	clear:left;
	padding:0px 45px;
	margin:3.5px 0;
}
#content .inner p i {
    font-size:14px;
    color:black;
}
#content .inner p a {
    color:black;
}
#content .inner ol {
    margin:10px 0 20px 0px;

}
#content .inner ol li {
    margin-bottom:5px;
    margin-left:25px;
}
.bgWrap {
	margin:50px 0;
	float:left;
	background-color: #fff;
	width:100%;
	padding:25px 0 50px 0;
	box-shadow: 3px 3px 3px #ccc;
}

#content .inner span.divider {
	width:95%;
	margin-bottom:25px;
	float:right;
	clear:right;
	height:10px;
	background-color: #f9f9f9;
	border-top:1px solid #ddd;
}

@media only screen and (max-width: 935px) {
	#content .inner {
		padding:0 25px;
	}
}